.item-page-title {
    margin-top: 65px;
}

.info {
    display: flex;
    width: 100%;
    min-height: 100px;

    .photo {
        width: 60%;
        background: #000;
    }

    .characteristics {
        width: 40%;
        background: rgb(206, 199, 199);
    }
}

.restImagesGallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, min-height);
    gap: 10px;

    .rest-image-item {
        border: 1px solid gray;
        padding: 10px;
    }
}

.vehicle-description {
    width: 90%;
    margin: 40px auto 0;
}

@media screen and (max-width: 428px) {
    .restImagesGallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    }
}